<!DOCTYPE html>
<html>
	<head>
        {% load staticfiles %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/mainStyle.css' %}" media="screen" />
        <script src="{% static "js/jquery-2.2.3.min.js" %}"></script>
        <script src="{% static "js/IHMJavaScript.js" %}"></script>
        <script src="{% static "js/widgets.js" %}"></script>
        <title>Recherche</title>
	</head>
	<body>   
        {% csrf_token %} 
        <div class="background-image"></div>
            <div class="ProfileContainer">
                {% if user.is_authenticated %}
                 <div class='logout'><img class='logoutlogo' src="{% static 'pictures/profile.png' %}"> <div class='logouttext'>{{user}}</div></div>
                {% endif %}
                <hr>
                {% if user.is_authenticated %}
                <a href="/logout"><div class='logout'><img class='logoutlogo' src="{% static 'pictures/logout.png' %}"><div class='logouttext'>Se déconnecter</div></div></a>
                {% endif %}
                <hr>
                 <a href="/"><div class='logout'><img class='logoutlogo' src="{% static 'pictures/search.png' %}"><div class='logouttext'>Recherche</div></div></a>
                 <hr>
                <div class='logout'> <div class='logouttext'>historique des recherches</div></div>
            </br>
                {% for s in searches%}
                 <div id='search_{{s.pk}}'>
                    <input id='deleteSearch_{{s.pk}}' src="{% static 'pictures/interfaceRed.png' %}" type="image" onclick="deleteSearch('{%url 'deleteSearch' %}', '{{ csrf_token }}')">

                    <a href="{% url 'Result' pk=s.pk %}"> {{s}} </a>
                 </div>   
                {% endfor %}
            </div>

            {% block content %}
            {% endblock %}
	</body>
</html>
