{% extends 'webApp/base.html' %}
{% block content %}

<div id='legende'> 
	<p>Utilisez les opérateurs -,OR pour raffiner votre recherche. <br><br>
		Exemple:<br><br>
 - Inondation OR Brest : Contient Inondation ou Brest.<br>
	- Inondation -Brest : Contient inondation mais pas Brest. </p>
</div>	
<div id="container">	
	<form method="POST" class="search-form"> {% csrf_token %}
		<div class="row">
			  	<label class="nameoffield" id='keywords' for="field">Mots-clés*:</label> 
			  	<br/>
			<input class="fieldKeywords"  maxlength="100" name="keywords" type="text">
	    </div>
	    <br>
	    <div class="rowOfActivateLocation">
	    	<input id="id_activateLocation"  type="checkbox" name="activatelocation" >
	    	<label class="headofAL" for="field">Activer la localisation</label>    
	    </div>
	    <br>
    	<div id= 'location'>
	        <label class="nameoffield" for="id_location">Lieu:</label>
	       	<input class="field" maxlength="100" name="location" type="text">
	     </div>  	
	     <br >
	     <div id="rowofraduis">
	       	<label class="nameofradiusfield" for="locationRadius">Rayon de recherche: </label>
			<select name="locationRadius",class="radiusmenu">
			<option value="1km">1Km</option>
			<option value="2km">2Km</option>
			<option value="3km">3Km</option>
			<option value="4km">4Km</option>
			<option value="5km">5Km</option>
			<br >
			</select>
		</div>
	    <div class="recherche"><button type="submit" >Recherche</button></div>
	</form>
</div>
{% endblock %}



